body{
    background-color: #FFF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

header {
    margin: 5px;
}



/* =====//=====//==========//=====//==========//=====//==========//=====//===== 
    Estilo página Adicionar
*/

.legenda {
    font-size: 12px;
    color: red;
}

.legenda ul {
    list-style: none;
    margin-left: -25px;
}
